*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul{
  /* width: 100vw; */
  min-height: 70vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

.slide{
  transition: 1s;
  position: absolute;
  width: 100%;
  object-fit: contain;
}

.nav{
  text-align: center;
  margin-top: 15px;
}

.nav button{
  font-size: 25px;
  padding: 5px;
  z-index: 50;
}

.nav button:active{
  background-color: green;
}